* a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family:  'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 150%;
	color: #485268;
	background-color: #E5E5E5;
	;
}

.page {
	width: 595px;
	margin: auto;
}
strong {
	font-weight: 500;
}
.bold {
	font-weight: 600;
}
.bold:hover {
	text-decoration: underline;
}

.about {
	display: flex;
	padding: 32px 40px 24px;
	background-color: #E25544;
	color: white;
}
.about__header {
	max-width: 351px;
	margin-right: 25px;
}
.about__name {
	font-size: 30px;
	font-weight: 600;
	line-height: 37px;
	margin: 0 0 8px 0;
}
.about__role {
	font-size: 12px;
	line-height: 15px;
	margin: 0 0 8px 0;
}
.about__me {
	margin: 0;
}
.about__photo {
	width: 144px;
	height: 144px;
}
.main {
	padding: 0 40px;
	background-color: white;
}
.contacts {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
}
.contacts__link {
	color: #485268;
	text-decoration: none;
}
.contacts__link:hover {
	text-decoration: underline;
}
.info {
	border-top: 1px solid black;
	padding: 24px 0;

	display: flex;
	justify-content: space-between;
}
.info__title {
	margin: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #E25544;
}
.info__content {
	width: 360px;
}
.job {
	border-left: 1px dashed #DEE2ED;
	padding-left: 8px;
	margin-top: 24px;
}
.job:first-child {
	margin-top: 0;
}
.job__title {
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
}
.job__description {
	margin: 0;
	margin-top: 8px;
}

.margin {
	margin: 0 5px 0 0;
}
.study {
	border-left: 1px dashed #DEE2ED;
	padding-left: 8px;
	margin-top: 24px;
}
.study:first-child {
	margin-top: 0;
}
.study__title {
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
}
.study__description {
	margin: 0;
	margin-top: 8px;
}
.skills {
	display: flex;

}
.skills__list {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	border-left: 1px dashed #DEE2ED;
	padding-left: 8px;
	list-style: none;

}
.skills__item {
	margin-top: 8px;
}
.skills__item:first-child {
	margin-top: 0;
}
.tools {
	display: flex;

}
.tools__list {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	border-left: 1px dashed #DEE2ED;
	padding-left: 8px;
	list-style: none;

}
.tools__item {
	margin-top: 8px;
}
.tools__item:first-child {
	margin-top: 0;
}
.works:hover {
	text-decoration: underline;
}